@model IEnumerable<JobTracker.Models.Status>

@{
    ViewData["Title"] = "Status";
}

<h1>Status</h1>

<head>
    <link rel="stylesheet" href="~/css/Jobs.css"/>
</head>

<p>Add custom status types in order of importance or sequence (i.e Applied > Interview > Offered > Accepted)</p>
<p>
    <a asp-action="Create" class="btn primary-button btn-sm"><i class="fa fa-plus"></i>Add new Status type</a>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn primary-button btn-sm"><i class="fa fa-pencil"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn secondary-button btn-sm"><i class="fa fa-navicon"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn fail-button btn-sm"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
