@model IEnumerable<JobTracker.Models.Job>

@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<h2>All Job Applications (@counter)</h2>
<head>
    <link rel="stylesheet" href="~/css/Jobs.css" asp-append-version="true" />
</head>

<p>
    <a asp-action="Create" class="btn btn-sm primary-button"><i class="fa fa-plus"></i>Add new application</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateApplied)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApplied)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
            </td>
        </tr>
        counter++;
}
    </tbody>
</table>
